:root{

}

body{
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    max-width: 1500px;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}